@charset "UTF-8";
:root {
    --cor1: #ADCCFF;
    --cor2: #82B2FF;
    --cor3: #013892;
    --cor4: #123367;
    --cor5: #15243C;
    --cor6: #ffff00;
    --preto: #000000;
    --branco: #ffffff;

    --fonte_texto: Arial, Helvetica, sans-serif;
    --fonte_titulo: 'Times New Roman', Times, serif;
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: var(--preto);
    min-height: 100vh;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}
main {
    margin: 1em;
}
p, h1, h2, h3, h4, li {
    color: var(--cor2);
    text-align: justify;
}
main > p, h1, h2, h3, h4, li {
    color: var(--branco);
    text-align: justify;
}
a {
    color: var(--cor2);
    text-decoration: none;
}
a:hover {
    color: var(--cor3);
    text-decoration: underline;
}
header {
    background-color: var(--preto);
    height: 7em;
    margin: auto;
}
header > h1 {
    color: var(--cor2);
    text-align: center;
    padding-top: 1.2em;
    text-decoration: underline var(--cor3);
}
nav {
    background-color: var(--preto);
    height: 1em;
    margin: 0em 1em 0em 1em;
}
article#main {
    display: inline-block;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    text-indent: 2em;
}
div#local1 {
    display: inline-flex;
}
div#titulo2 {
    background-color: var(--cor6);
    padding: 5px;
    width: 350px;
    margin: 0em 0em 1em 0em;
}
#titulo2 > h1 {
    color: var(--preto);
    text-align: left;
}
#titulo2 > p {
    color: var(--preto);
}
div#icones {
    margin: 17px 0px 0px 94px;
}
#textinho {
    display: inline-block;
    text-indent: 2em;
    margin: auto;
    margin-bottom: 1em;
}
#sumario {
    border: 1px solid var(--cor6);
    width: max-content;
    padding: 5px;
}
ol {
    list-style-position: inside;
}
#conteudo > h2 {
    margin-top: 1em;
    margin-bottom: 0.2em;
}
#conteudo > p {
    color: white;
}