@charset "UTF-8";
:root {
    --cor1: #ADCCFF;
    --cor2: #82B2FF;
    --cor3: #013892;
    --cor4: #123367;
    --cor5: #15243C;
    --cor6: #E2C529;
    --preto: black;
    --branco: #ffffff;
    --cinza: #3E4E4E;
    --cinza_escuro: #272928;

    --fonte_texto: Arial, Helvetica, sans-serif;
    --fonte_titulo: 'Times New Roman', Times, serif;
}
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    background-color: var(--preto);
    background-image: url(../imagens/fundo2.png);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
}
main {
    margin: 1em;
}
p, h1, h2, h3, h4, li {
    color: var(--branco);
    text-align: justify;
}
main > p, h1, h2, h3, h4, li {
    color: var(--branco);
    text-align: justify;
}
a {
    color: var(--cor6);
    text-decoration: none;
}
a:hover {
    color: #ac9720;
    text-decoration: underline;
}
header {
    height: 7em;
    margin: auto;
    margin: 0px 16px 0px 16px;
}
header > h1 {
    color: var(--cor6);
    text-align: center;
    padding-top: 1.2em;
    text-decoration: underline #ac9720;
}
nav {
    height: 1em;
    margin: 0em 1em 0em 1em;
}
nav > p {
    background-color: #1b1b1b64;
    padding: 5px 5px 5px 0px;
    margin-right: 1em;
    display: inline;
}
div#titulo2 {
    display: inline-block;
    background-color: var(--cor6);
    padding: 5px;
    max-width: 350px;
    min-width: 300px;
    margin: 0em 0em 1em 0em;
}
#icones_base {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 594px;
    text-align: center;
}
img#icones {
    max-width: 594px;
}
#titulo2 > h1 {
    color: var(--preto);
    text-align: left;
}
#titulo2 > p {
    color: var(--preto);
}
#textinho {
    text-indent: 2em;
    margin: auto;
    padding: 10px;
    background-color: #1B1B1B;
    border: 3px solid var(--cor6);
    border-radius: 10px;
}
#sumario {
    border: 3px solid var(--cor6);
    padding: 10px;
    max-width: 400px;
    min-width: 300px;
    margin: 1em 0em 0em 0em;
    border-radius: 10px;
    background-color: #1B1B1B;
}
#sumario > h3 {
    border: 3px solid var(--cor6);
    padding: 5px 5px 5px 10px;
    margin: -13px -13px 0px -13px;
    color: black;
    background-color: var(--cor6);
    border-radius: 10px 10px 0px 0px;
}
.lista-decimal {
    counter-reset: section;
    padding-top: 5px;
    padding-right: 150px;
}
li {
    margin-bottom: 2px;
}
li > a {
    color: white;
}
.lista-decimal > li {
    counter-increment: section;
    list-style-type: none;
}
.lista-decimal > li::before {
    content: counters(section, ".") ".";
}
.lista-decimal ol {
    counter-reset: subsection;
}
.lista-decimal ol > li {
    counter-increment: subsection;
    list-style-type: none;
}
.lista-decimal ol > li::before {
    content: counters(section, ".") "." counters(subsection, ".") ".";
    padding-left: 5px;
}
article#main {
    background-color: #1B1B1B;
    padding: 10px;
    border-radius: 20px;
    margin-top: 1em;
    text-indent: 2em;
    border: 3px solid var(--cor6);
    border-radius: 10px;
}
.conteudo {
    margin-top: 1em;
}
.conteudo > h3 {
    margin-bottom: 0.2em;
    font-size: 1.5em;
    background-color: var(--cor6);
    padding: 2px 0px 2px 0px;
    margin-left: -12px;
    margin-right: -12px;
    max-width: 1000px;
    min-width: 300px;
    color: black;
}
.conteudo > h2 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    background-color: var(--cor6);
    padding: 2px 0px 2px 0px;
    margin-left: -12px;
    margin-right: -12px;
    max-width: 1000px;
    min-width: 300px;
    color: black;
}
.conteudo > p {
    color: white;
}
#estrutura_divisao {
    text-indent: 0px;
    text-align: center;
}
.img_divisao_fora {
    display: inline-block;
}
.img_divisoes {
    position: relative;
    border: 3px solid var(--cor6);
    border-radius: 10px 10px 0px 0px;
    width: 270px;
    height: 150px;
    margin: 10px 3px 0px 2px;
}
.img_divisoes:hover {
    opacity: 0.8;
}
.img_divisao_dentro {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 270px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.divisoes_nomes {
    border: 3px solid var(--cor6);
    border-radius: 0px 0px 10px 10px;
    margin: -3px 3px 0px 2px;
    background-color: var(--cor6);
}
.divisoes_nomes > p {
    color: black;
    font-weight: bold;
    font-size: 1.15em;
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 2px 0px 2px 0px;
}
#div_mapa {
    border: 3px solid var(--cor6);
    border-radius: 10px;
    width: 700px;
    height: 700px;
    background-image: url(../imagens/Mapa_dos_Distritos_13.0.jpg);
    background-size: contain;
    margin: auto;
    margin-top: 20px;
}
#gangues {
    margin-bottom: 10px;
}
#ficha_gangues {
    text-indent: 0px;
    border-radius: 10px;
    background-color: black;
    margin: auto;
    text-align: center;
}
.imgs_gangue {
    text-indent: 0px;
    display: inline-block;
    background-size: contain;
    padding: 10px 10px 0px 10px;
    width: 150px;
    height: 150px;
}
.imgs_gangue {
    cursor: pointer;
    transition: 0.3s;
}
.imgs_gangue:hover {
    opacity: 0.7;
}